<!DOCTYPE html>
<html>
    <head>
      <title>User Signup</title>
    </head>
  <body>
    <h1>User Signup</h1>
      <form action="/welcome" method="post">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" />
        <label for="password">Password</label>
        <input id="password" type="text" name="password" />
        <label for="verify">Verify</label>
        <input id="verify" type="text" name="verify" />
        <label for="email">Email</label>
        <input id="email" type="text" name="email" />
        <input type="submit" value="I'm Ready!" />
      </form>
  </body>
</html>
